{% extends "/base.html" %}
{% block title %}登陆{% endblock%}
{% block main %}
<form class="form-horizontal" method="post" action="{{ url_for('index.register') }}">
    <div class="control-group">
        <label class="control-label">用户名</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">密码</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="password">
        </div>
    </div>
    <div class="form-actions" method="post" action="{{ url_for('index.register') }}">
        <input type="submit" class="span-primary" value="注册">
    </div>
</form>
<form class="form-horizontal" method="post" action="{{ url_for('index.login') }}">
    <div class="control-group">
        <label class="control-label">用户名</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">密码</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="password">
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="span-primary" value="登录">
    </div>
</form>
{% endblock%}

{% block footer %}
<div id="footer" class='fix-bottom'>
    <div id="footer_main">
        <div class="links">
            <a class="dark" href="https://github.com/jtingjun/flask_bbs">源码地址</a>
            <p>Powerd By Flask</p>
        </div>
    </div>
</div>
{% endblock %}
